---
title: "Outbound integration verification"
source: "https://developer.acronis.com/doc/outbound/verification.html"
source_domain: "developer"
scraped_at: "2026-03-22T02:35:11.688650"
---

# Outbound integration verification

Outbound integration verification
Acronis verifies certain aspects of your outbound integration when you request to production deployment for your CyberApp:


All API calls have the X-Application-Secret header properly filled.
For more information, see step 3a of Development and deployment process on the Outbound integrations page.



The integration implements status enablement and disablement reporting.
For more information, see Integration Management, Activating an integration, and Deactivating an integration.